---
	import '../css/home.css'

	import Layout from '../layouts/Layout.astro';
	
	import Logo from '../components/svg/Logo.astro';
	import LogoWaves from '../components/svg/LogoWaves.astro';
	import LogoText from '../components/svg/LogoText.astro';

	import Graphic01 from '../components/svg/graphics/Graphic01.astro';
	import ProblemGraphic from '../components/svg/graphics/ProblemGraphic.astro';
	import Graphic02 from '../components/svg/graphics/Graphic02.astro';
	import Graphic03 from '../components/svg/graphics/Graphic03.astro';
	import Graphic04 from '../components/svg/graphics/Graphic04.astro';
	import Graphic05 from '../components/svg/graphics/Graphic05.astro';
	import Graphic06 from '../components/svg/graphics/Graphic06.astro';
	import Graphic07 from '../components/svg/graphics/Graphic07.astro';

	import Worm from '../components/svg/graphics/Worm.astro'
	import CornerGraphic01 from '../components/svg/graphics/CornerGraphic01.astro';
	import CornerGraphic02 from '../components/svg/graphics/CornerGraphic02.astro';

	import { Image, getImage } from 'astro:assets';

	import AndreiCroitor from "../assets/team/andrei-croitor.jpg";
	import JasonGeorge from "../assets/team/jason-george.jpg";
	import NdaliLiitaCairney from "../assets/team/ndali-liita-cairney.jpg";
	import RayhanBeebeejaun from "../assets/team/rayhan.beebeejaun.jpg";
	import TsvetelinAnastasov from "../assets/team/tsvetelin-anastasov.jpg";

	import Analysis from '../components/svg/icons/Analysis.astro'
	import Chart from '../components/svg/icons/Chart.astro'
	import HeartBeat from '../components/svg/icons/HeartBeat.astro'
	import Idea from '../components/svg/icons/Idea.astro'
	import List from '../components/svg/icons/List.astro'
	import Strategy from '../components/svg/icons/Strategy.astro'
---

<Layout title="">
	<script src="../js/gsap.js"></script>

	<main>
		<section class="intro">

			<div class="corner graphic">
				<CornerGraphic01/>
			</div>

			<div class="waves big graphic">
				<Graphic06/>
			</div>

			<div class="ctnr width1">
				<div class="logo">
					<LogoText/>
				</div>

				<h1><span class="slow_step_reveal">Unlock the potential of <strong>AI integration.</strong></span> <span class="slow_step_reveal">Embrace innovation.</span> <span class="slow_step_reveal"><b>Define the future.</b></span></h1>

				<h2 class="slow_step_reveal">AI integration through a blend of agility, insight, and innovation. <b>Navigate tomorrow's complexities, transforming uncertainties into identifiable opportunities.</b></h2>

				<div class="cta_ctnr flex slow_step_reveal">
					<a href="#the-ai-challenge" class="cta dark">The AI Challenge</a>
					<button type="button" class="main cta contact_bt">Connect with psAi</button>
				</div>

				<!-- <div class="graphic g1">
					<Graphic02/>
				</div> -->
				<!-- <Graphic03/> -->
			</div>
		</section>

		<section id="the-ai-challenge" class="default1">
			<div class="big graphic">
				<ProblemGraphic/>
			</div>

			<div class="content">
				<h2>The AI Challenge<Worm/></h2>

				<p>AI development and implementation are <b>advancing faster than any other technological progress in human history.</b> How will you keep pace?</p>

				<p class="minor"><b>We're at a critical transformation point in global business operations.</b> The impact and reach of AI and Large Language Models (LLMs) surpass even digitisation and the internet, and show no signs of deceleration.</p>


				<div class="graphic_cta">
					<a href="#why-psai" class="main cta">Why psAI</a>
					
					<div class="graphic">
						<Graphic05/>
					</div>
				</div>
			</div>

			<!-- <div class="graphic corner">
				<CornerGraphic02/>
			</div> -->
		</section>

		<hr>

		<section id="why-psai" class="default1 inverted">
			<div class="big graphic g4">
				<Graphic03/>
			</div>

			<div class="content">
				<h2>The psAI edge<Worm/></h2>

				<p>Experience emergent, <b>industry-leading insights and advice</b>, born from firsthand experience – not just recycled consensus.</p>

				<p class="minor"><b>Our partners lead AI development and implementation across various industries.</b> psAI's agility and speed mirror that of a startup, made possible by our lean structure and close proximity to AI innovation.</p>

				<div class="graphic_cta">
					<a href="#the-team" class="main cta">Meet our Team</a>

					<div class="graphic">
						<Graphic06/>
					</div>
				</div>
			</div>
		</section>

		<hr>

		<section id="the-team" class="default2">
			<div class="content">
				<div class="heading big graphic">
					<Graphic07/>
				</div>
				
				<h2>psAI Partners</h2>

				<p>Our team has a proven track record in <strong>AI implementation across a diverse range of industries and roles</strong>, providing a holistic approach from business operations to customer engagement.</p>

				<div class="team_ctnr">
					<div class="profile">
						<div class="flex">
							<Image src={RayhanBeebeejaun} alt="Rayhan Beebeejaun Picture" draggable="false"/>

							<Worm/>

							<div>
								<p class="name">Rayhan Beebeejaun</p>
								<p class="role">Machine Learning & 
									Artificial Intelligence</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>Award-winning programmer & AI expert</p>
								<p><b>Built ML solutions for notable organisations</b></p>
								<p>Visiting Lecturer at University of Edinburgh</p>
							</div>
						</div>
					</div>
					<div class="profile">
						<div class="flex">
							<Image src={NdaliLiitaCairney} alt="Dr. Ndali Liita Cairney Picture" draggable="false"/>

							<Worm/>

							<div>
								<p class="name">Dr. Ndali Liita Cairney, Ph.D.</p>
								<p class="role">Competitor & Customer Value Analysis</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>Entrepreneur</p>
								<p><b>Lecturer in Entrepreneurship & Innovation in Informatics at the University of Edinburgh</b></p>
								<p>Intellectual property & customer value analyst</p>
							</div>
						</div>
					</div>

					<div class="profile">
						<div class="flex">
							<Image src={TsvetelinAnastasov} alt="Tsvetelin Anastasov Picture" draggable="false"/>
							
							<Worm/>

							<div>
								<p class="name">Tsvetelin Anastasov</p>
								<p class="role">Data Strategy & Data Management</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>PM and Data Management expert</p>
								<p><b>Developed successful data strategies for Top Tier institutions</b></p>
								<p>Accredited by Enterprise Data Management Council</p>
							</div>
						</div>
					</div>

					<div class="profile">
						<div class="flex">
							<Image src={JasonGeorge} alt="Jason George Picture" draggable="false"/>
							
							<Worm/>

							<div>
								<p class="name">Jason George</p>
								<p class="role">Market analysis</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>Deloitte consulting scholar</p>
								<p><b>Digital ventures associate</b></p>
								<p>Ex-BCG consultant</p>
							</div>
						</div>
					</div>

					<div class="profile">
						<div class="flex">
							<Image src={AndreiCroitor} alt="Andrei Croitor Picture" draggable="false"/>
							
							<Worm/>

							<div>
								<p class="name">Andrei Croitor</p>
								<p class="role">Cultural Transformation & Consumer Psychology</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>D&AD Alumni</p>
								<p><b>RAIUK</b> Comms Consultant</p>
							</div>
						</div>
					</div>
				</div>

				<div class="graphic_cta">
					<a href="#deliverables" class="main cta">What psAI Delivers</a>
					<div class="graphic">
						<Graphic06/>
					</div>
				</div>
			</div>

			<!-- <div class="graphic g4 slow_reveal">
				<Graphic02/>
			</div> -->
		</section>

		<hr>

		<section id="deliverables" class="default1 bullets">
			<div class="content">
				<h2>Deliverables<Worm/></h2>

				<p>Tailored to actualise your AI implementation – <b>clear, concise, and actionable.</b></p>

				<p class="minor">psAI delivers insights, frameworks, and guidelines that enable you to keep up with the rapidly accelerating pace of innovation, implementing best-in-class practices and developments as they arise.</p>

				<div class="graphic_cta">
					<button type="button" class="main cta highlight contact_bt">Connect with us</button>

					<div class="graphic">
						<Graphic07/>
					</div>
				</div>
			</div>

			<ul class="list">
				<li>
					<h3><Analysis/>AI Readiness Analysis</h3>

					<p>This involves assessing the current technological infrastructure, including hardware, software, and data systems. The aim is to gauge <b>how prepared your company is for AI integration</b> and to identify areas needing upgrades or modifications.</p>
				</li>

				<li>
					<h3><Chart/>Market Analysis</h3>

					<p>We provide an overview of the latest trends, particularly in technology and AI. This includes <b>benchmarking your company against 'best in class' competitors effectively using AI</b>, offering insights into their strategies and success stories.</p>
				</li>

				<li>
					<h3><HeartBeat/>Risk Analysis</h3>

					<p>We'll analyse potential risks associated with lagging in AI implementation. This includes <b>potential market share loss, brand damage, and the opportunity costs of delayed implementation.</b> This analysis underscores the critical need for rapid AI adoption in your company.</p>
				</li>

				<li>
					<h3><Idea/>Long List of AI Opportunities</h3>

					<p>A comprehensive compilation of <b>potential AI applications</b> relevant to your sector and industry.</p>
				</li>

				<li>
					<h3><List/>Shortlist of Opportunities</h3>

					<p>Based on your company's goals, market position, and readiness, we prioritise AI implementation ideas, explaining why <b>certain opportunities are more viable or beneficial for initial pursuit</b> and how they align with your company's strategic objectives.</p>
				</li>

				<li>
					<h3><Strategy/>Implementation Plans</h3>

					<p>We provide detailed plans for the technical implementation of chosen AI initiatives. These include a phased roadmap, resource allocation, timelines, and key milestones, <b>ensuring that your company has a clear and actionable plan for integrating AI into its operations.</b></p>
				</li>
			</ul>
		</section>
	</main>
</Layout>

<script is:inline>
    const header = document.querySelector('header');
const hamBt = document.querySelector(".hambt");
const nav = document.querySelector(".header_nav");
const navBts = document.querySelectorAll(".header_nav a, .header_nav button");
const exitArea = document.querySelector('.exit_area');
const contactBox = document.querySelector('section.contact');
const contactBts = document.querySelectorAll('.contact_bt');
const pulsePaths = document.querySelectorAll('.pulse');

let showingNav = false;
let showingContactBox = false;

function toggleExitArea() {
    exitArea.classList.toggle('show', showingContactBox || showingNav);
}

function toggleNav() {
    showingNav = !showingNav;
    hamBt.classList.toggle('active', showingNav);
    nav.classList.toggle("show", showingNav);
    toggleExitArea();
	
    controlPathAnimation(showingNav ? 'paused' : 'running');

    if (showingContactBox) {
        toggleContactBox();
    }
}

function controlPathAnimation(state) {
    pulsePaths.forEach(path => path.style.animationPlayState = state);
}

function toggleContactBox() {
    showingContactBox = !showingContactBox;
    contactBox.classList.toggle('show', showingContactBox);
    controlPathAnimation(showingContactBox ? 'paused' : 'running');
    toggleExitArea();
}

hamBt.addEventListener("click", toggleNav);

if (window.matchMedia('(max-width:850px)').matches) {
    navBts.forEach(btn => {
        btn.addEventListener("click", () => {
            toggleNav();
            if (showingContactBox) {
                toggleContactBox();
            }
        });
    });
}

window.addEventListener("scroll", () => {
    if (showingNav) {
        toggleNav();
    }
});

contactBts.forEach(btn => {
    btn.addEventListener('click', toggleContactBox);
});

exitArea.addEventListener('click', () => {
    if (showingContactBox) {
        toggleContactBox();
    } else if (showingNav) {
        toggleNav();
    }
});

</script>