---
	import '../css/home.css'

	import Layout from '../layouts/Layout.astro';
	
	import Logo from '../components/svg/Logo.astro';
	import LogoWaves from '../components/svg/LogoWaves.astro';
	import LogoText from '../components/svg/LogoText.astro';

	import Graphic01 from '../components/svg/graphics/Graphic01.astro';
	import ProblemGraphic from '../components/svg/graphics/ProblemGraphic.astro';
	import Graphic02 from '../components/svg/graphics/Graphic02.astro';
	import Graphic03 from '../components/svg/graphics/Graphic03.astro';
	import Graphic04 from '../components/svg/graphics/Graphic04.astro';
	import Graphic05 from '../components/svg/graphics/Graphic05.astro';
	import Graphic06 from '../components/svg/graphics/Graphic06.astro';
	import Graphic07 from '../components/svg/graphics/Graphic07.astro';

	import Worm from '../components/svg/graphics/Worm.astro'
	import CornerGraphic01 from '../components/svg/graphics/CornerGraphic01.astro';
	import CornerGraphic02 from '../components/svg/graphics/CornerGraphic02.astro';

	import { Image, getImage } from 'astro:assets';

	import AndreiCroitor from "../assets/team/andrei-croitor.jpg";
	import JasonGeorge from "../assets/team/jason-george.jpg";
	import NdaliLiitaCairney from "../assets/team/ndali-liita-cairney.jpg";
	import RayhanBeebeejaun from "../assets/team/rayhan.beebeejaun.jpg";
	import TsvetelinAnastasov from "../assets/team/tsvetelin-anastasov.jpg";

	import Analysis from '../components/svg/icons/Analysis.astro'
	import Chart from '../components/svg/icons/Chart.astro'
	import HeartBeat from '../components/svg/icons/HeartBeat.astro'
	import Idea from '../components/svg/icons/Idea.astro'
	import List from '../components/svg/icons/List.astro'
	import Strategy from '../components/svg/icons/Strategy.astro'
---

<Layout title="psAI Consulting - Unlock the Potential of AI I55ntegration">
	<script src="../js/gsap.js"></script>

	<main>
		<section class="intro">

			<div class="corner graphic">
				<CornerGraphic01/>
			</div>

			<div class="waves big graphic">
				<Graphic06/>
			</div>

			<div class="ctnr width1">
				<div class="logo">
					<LogoText/>
				</div>

				<h1><span class="slow_step_reveal">Unlock the potential of <strong>AI integration.</strong></span> <span class="slow_step_reveal">Embrace innovation.</span> <span class="slow_step_reveal"><b>Define the future.</b></span></h1>

				<h2 class="slow_step_reveal">AI integration through a blend of agility, foresight, and innovation. <b>We navigate the complexities of tomorrow, turning certain uncertainties into opportunities.</b></h2>

				<div class="cta_ctnr flex slow_step_reveal">
					<a href="#the-problem" class="cta dark">The Problem with AI</a>
					<button type="button" class="main cta contact_bt">Get in Touch</button>
				</div>

				<!-- <div class="graphic g1">
					<Graphic02/>
				</div> -->
				<!-- <Graphic03/> -->
			</div>
		</section>

		<section id="the-problem" class="default1">
			<div class="big graphic">
				<ProblemGraphic/>
			</div>

			<div class="content">
				<h2>The Problem<Worm/></h2>

				<p><b>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</b> Sequi, eius. Distinctio recusandae illo soluta sequi, eum vero voluptas esse rerum, unde sunt praesentium quo nam inventore. <b>Eum illum distinctio sunt.</b></p>

				<p class="minor">Lorem ipsum dolor sit amet consectetur adipisicing elit. <b>Corrupti doloremque aliquid asperiores</b>, quo alias facilis quis laboriosam itaque nemo magnam architecto voluptate nam. <b>Aperiam, labore a? Facere placeat odit distinctio?</b></p>


				<div class="graphic_cta">
					<a href="#why-psai" class="main cta">Why psAI</a>
					
					<div class="graphic">
						<Graphic05/>
					</div>
				</div>
			</div>

			<!-- <div class="graphic corner">
				<CornerGraphic02/>
			</div> -->
		</section>

		<hr>

		<section id="why-psai" class="default1 inverted">
			<div class="big graphic g4">
				<Graphic03/>
			</div>

			<div class="content">
				<h2>Why psAI<Worm/></h2>

				<p>Lorem ipsum dolor sit amet consectetur <b>adipisicing elit</b>. Libero voluptas numquam ea veritatis reprehenderit cumque perspiciatis tenetur tempora, <b>vitae debitis</b>. Ex at porro eum quae aliquam eos quo recusandae voluptate.</p>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptate quas non eius architecto? <b>Laudantium, nisi recusandae.</b> Veniam corrupti vitae asperiores quidem blanditiis? Consequatur magni recusandae nostrum! Aspernatur, qui dolores?</p>

				<div class="graphic_cta">
					<a href="#the-team" class="main cta">Meet our Team</a>

					<div class="graphic">
						<Graphic06/>
					</div>
				</div>
			</div>
		</section>

		<hr>

		<section id="the-team" class="default2">
			<div class="content">
				<div class="heading big graphic">
					<Graphic07/>
				</div>
				
				<h2>The psAI Team</h2>

				<p>Lorem ipsum dolor sit amet consectetur <b>adipisicing elit</b>. Libero voluptas numquam ea veritatis reprehenderit cumque perspiciatis tenetur tempora, <b>vitae debitis</b>.</p>

				<div class="team_ctnr">
					<div class="profile">
						<div class="flex">
							<Image src={RayhanBeebeejaun} alt="Rayhan Beebeejaun Picture" draggable="false"/>

							<Worm/>

							<div>
								<p class="name">Rayhan Beebeejaun</p>
								<p class="role">Machine Learning & 
									Artificial Intelligence</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>Award-winning programmer & AI expert</p>
								<p><b>Built ML solutions for notable organisations</b></p>
								<p>Visiting Lecturer at University of Edinburgh</p>
							</div>
						</div>
					</div>
					<div class="profile">
						<div class="flex">
							<Image src={NdaliLiitaCairney} alt="Dr. Ndali Liita Cairney Picture" draggable="false"/>

							<Worm/>

							<div>
								<p class="name">Dr. Ndali Liita Cairney, Ph.D.</p>
								<p class="role">Competitor & Customer Value Analysis</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>Entrepreneur</p>
								<p><b>Lecturer in Entrepreneurship & Innovation in Informatics at the University of Edinburgh</b></p>
								<p>Intellectual property & customer value analyst</p>
							</div>
						</div>
					</div>

					<div class="profile">
						<div class="flex">
							<Image src={TsvetelinAnastasov} alt="Tsvetelin Anastasov Picture" draggable="false"/>
							
							<Worm/>

							<div>
								<p class="name">Tsvetelin Anastasov</p>
								<p class="role">Data Strategy & Data Management</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>PM and Data Management expert</p>
								<p><b>Developed successful data strategies for Top Tier institutions</b></p>
								<p>Accredited by Enterprise Data Management Council</p>
							</div>
						</div>
					</div>

					<div class="profile">
						<div class="flex">
							<Image src={JasonGeorge} alt="Jason George Picture" draggable="false"/>
							
							<Worm/>

							<div>
								<p class="name">Jason George</p>
								<p class="role">Market analysis</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>Deloitte consulting scholar</p>
								<p><b>Digital ventures associate</b></p>
								<p>Ex-BCG consultant</p>
							</div>
						</div>
					</div>

					<div class="profile">
						<div class="flex">
							<Image src={AndreiCroitor} alt="Andrei Croitor Picture" draggable="false"/>
							
							<Worm/>

							<div>
								<p class="name">Andrei Croitor</p>
								<p class="role">Cultural Transformation & Consumer Psychology</p>
							</div>
						</div>

						<div class="description">
							<div class="ctnr">
								<p>D&AD Alumni</p>
								<p><b>RAIUK</b> Comms Consultant</p>
							</div>
						</div>
					</div>
				</div>

				<div class="graphic_cta">
					<a href="#deliverables" class="main cta">What psAI Delivers</a>
					<div class="graphic">
						<Graphic06/>
					</div>
				</div>
			</div>

			<!-- <div class="graphic g4 slow_reveal">
				<Graphic02/>
			</div> -->
		</section>

		<hr>

		<section id="deliverables" class="default1 bullets">
			<div class="content">
				<h2>Deliverables<Worm/></h2>

				<p>Lorem ipsum dolor sit amet consectetur <b>adipisicing elit</b>. Libero voluptas numquam ea veritatis reprehenderit cumque perspiciatis tenetur tempora, <b>vitae debitis</b>. Ex at porro eum quae aliquam eos quo recusandae voluptate.</p>

				<p class="minor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptate quas non eius architecto? <b>Laudantium, nisi recusandae.</b> Veniam corrupti vitae asperiores quidem blanditiis? Consequatur magni recusandae nostrum! Aspernatur, qui dolores?</p>

				<div class="graphic_cta">
					<button type="button" class="main cta highlight contact_bt">Get in Touch</button>

					<div class="graphic">
						<Graphic07/>
					</div>
				</div>
			</div>

			<ul class="list">
				<li>
					<h3><Analysis/>AI Readiness Analysis</h3>

					<p>This will assess the current technological infrastructure of the real estate company, including existing hardware, software, and data systems. The goal is to determine how prepared the company is to integrate AI technologies and identify areas in need of upgrade or modification.</p>
				</li>

				<li>
					<h3><Chart/>Market Analysis</h3>

					<p>This will provide an overview of the latest trends in the real estate industry, especially those related to technology and AI. It will benchmark the company against 'best in class' competitors who are effectively using AI, giving insights into their strategies and success stories.</p>
				</li>

				<li>
					<h3><HeartBeat/>Risk Analysis</h3>

					<p><b>Disruption and Opportunity Costs:</b> Here, the potential risks associated with falling behind on AI in the real estate industry will be analyzed. This includes potential market share loss, brand damage and the opportunity costs of not being early to implement AI. This analysis helps in understanding how critical it is for the company to implement AI rapidly.</p>
				</li>

				<li>
					<h3><Idea/>Long List of AI Opportunities</h3>

					<p><b>Different Possibilities of AI Implementations Available:</b> This comprehensive list will include all possible AI applications relevant to the real estate sector, such as Autonomous agents for households, LLM-powered agentic experiences for buyers in offices, AI-powered home maintenance and management, and more.</p>
				</li>

				<li>
					<h3><List/>Shortlist of Opportunities</h3>

					<p>Prioritization of the Long List and <b>Explanation of Which Opportunities to Pursue First:</b> Based on the company's goals, market position, and readiness, we will prioritize the AI implementation ideas. It will explain why certain opportunities are more viable or beneficial to pursue initially and how they align with the company's strategic objectives.</p>
				</li>

				<li>
					<h3><Strategy/>Implementation Plans</h3>

					<p><b>Technical Implementation Plan and Roadmap for Shortlisted Ideas:</b> Detailed plans for the technical implementation of the chosen AI initiatives. These will include a phased roadmap, resource allocation, timelines, and key milestones. It ensures that the company has a clear and actionable plan for integrating AI into its operations.</p>
				</li>
			</ul>
		</section>
	</main>
</Layout>

<script is:inline>
    const header = document.querySelector('header');
const hamBt = document.querySelector(".hambt");
const nav = document.querySelector(".header_nav");
const navBts = document.querySelectorAll(".header_nav a, .header_nav button");
const exitArea = document.querySelector('.exit_area');
const contactBox = document.querySelector('section.contact');
const contactBts = document.querySelectorAll('.contact_bt');
const pulsePaths = document.querySelectorAll('.pulse');

let showingNav = false;
let showingContactBox = false;

function toggleExitArea() {
    exitArea.classList.toggle('show', showingContactBox || showingNav);
}

function toggleNav() {
    showingNav = !showingNav;
    hamBt.classList.toggle('active', showingNav);
    nav.classList.toggle("show", showingNav);
    toggleExitArea();

    if (showingContactBox) {
        toggleContactBox();
    }
}

function controlPathAnimation(state) {
    pulsePaths.forEach(path => path.style.animationPlayState = state);
}

function toggleContactBox() {
    showingContactBox = !showingContactBox;
    contactBox.classList.toggle('show', showingContactBox);
    controlPathAnimation(showingContactBox ? 'paused' : 'running');
    toggleExitArea();
}

hamBt.addEventListener("click", toggleNav);

if (window.matchMedia('(max-width:850px)').matches) {
    navBts.forEach(btn => {
        btn.addEventListener("click", () => {
            toggleNav();
            if (showingContactBox) {
                toggleContactBox();
            }
        });
    });
}

window.addEventListener("scroll", () => {
    if (showingNav) {
        toggleNav();
    }
});

contactBts.forEach(btn => {
    btn.addEventListener('click', toggleContactBox);
});

exitArea.addEventListener('click', () => {
    if (showingContactBox) {
        toggleContactBox();
    } else if (showingNav) {
        toggleNav();
    }
});

</script>